<%- include("common/header", { title: 'About', activeTab: null }) %>
<!---->
<div class="container">
  <div class="content">
      <div class="content-top">
          <h2>ABOUT</h2>
          <i class="line"></i>
      </div>
      <div class="top-on">
        <div class="section-block pr250">
          <h4 class="section">Biography:</h4>
          <ul>
            <li>
              <p><span class="time">Aug. 2013 - present</span> Associate Professor</p>
              <p>Department of Electrical and Electronic Engineering, SUSTech</p>
            </li>
            <li>
              <p><span class="time">July 2010 - July 2013</span> Assistant Professor</p>
              <p>Department of Micro- and Nanotechnology (DTU Nanotech), DTU</p>
            </li>
            <li>
              <p><span class="time">Aug. 2008 - June 2010</span> Postdoctoral Researcher</p>
              <p>Department of Micro- and Nanotechnology (DTU Nanotech), DTU</p>
            </li>
          </ul>
          <div class="photo">
            <img src="images/photo/wangfei2.jpg" />
          </div>
        </div>
        <div class="section-block pr250">
          <h4 class="section">Education:</h4>
          <ul>
            <li>
              <p><span class="time">Sept. 2003 - July 2008</span> Ph.D.</p>
              <p>Shanghai Institute of Microsystem and Information Technology (SIMIT),</p>
              <p>Chinese Academy of Sciences (CAS)</p>
            </li>
            <li>
              <p><span class="time">Sept. 1999 - July 2003</span> B.E.</p>
              <p>Department of Precision Machinery and Precision Instrumentation,</p>
              <p>University of Science and Technology of China (USTC)</p>
            </li>
          </ul>
        </div>
        <div class="section-block">
          <h4 class="section">Research Experience:</h4>
          <ul>
            <li>
              <p><span class="time">August 2013 - present</span> Department of Electrical and Electronic Engineering, SUSTech</p>
              <p>Associate Professor (Principal investigator, Supported by SUSTech start package and other grants, ~20 million RMB)</p>
              <p>Project: Multi-source energy harvesting technology for wireless sensor networks</p>
            </li>
            <li>
              <p><span class="time">July 2010 - June 2013</span> Department of Micro- and Nanotechnology, DTU</p>
              <p>Assistant Professor (Principal investigator, Supported by FTP, 3.9 million dkk)</p>
              <p>Project: Energy harvesting device with polymer electret for wireless electronic devices</p>
              <p>The main objective of this project is to develop a small-size energy harvesting device which is compatible with mass-production of wireless sensor networks. During this project, we have developed a few types of energy harvesting devices based on the electrostatic methods. Maximum power output up to ~10 µW can be harvested from vibration sources with low frequency and low amplitude.</p>
            </li>
            <li>
              <p><span class="time">Aug. 2008 - June 2010</span> Department of Micro- and Nanotechnology, DTU</p>
              <p>Postdoctoral Researcher (Host professor: Ole Hansen, HTF-Højteknologifonden, 18 million dkk)</p>
              <p>Project: Micro Sheet Resistance Probing (µRSP) with four-point probes</p>
              <p>The primary goal is to develop a novel metrology tool based on advanced MEMS technology, for characterization of e.g. ultra shallow junctions (USJ) in the semiconductor industry. Within this project, I have published 11 publications in peer-reviewed journals and international conferences. One WIPO patent is also granted for a faster and more accurate Hall Effect measurement method.</p>
            </li>
            <li>
              <p><span class="time">Sept. 2003 - July 2008</span> State Key Laboratory of Transducer Technology, SIMIT, CAS</p>
              <p>Research Assistant (Supervisor: Prof. Xinxin Li, supported by the NSFC and Chinese 973 program)</p>
              <p>Wafer-level IC testing is of great importance for the semiconductor industry, and the conventional testing probe cards will not be suitable for the next generation IC due to a lot of limitations. The objective of this Ph.D. program was to develop new probe cards with smaller probe pitch at cheaper cost based on MEMS technology. During this 5 years Ph.D. program, I had developed 4 different types of MEMS probe cards for various applications. Several new MEMS fabrication processes such as through-wafer electroplating and spray-coating photo-resist were also developed and are still widely used in the laboratory. Within this project, I had totally published 13 peer-reviewed papers in the first-level journals and conferences such as J-MEMS, JMM, IEEE IEDM, IEEE MEMS, and Transducers. Additionally, 2 Chinese patents are granted.</p>
            </li>
            <li>
              <p><span class="time">Sept. 2002 - July 2003</span> Laboratory of Intelligent Micro-System, USTC</p>
              <p>Research Assistant (Advisor: Prof. Wenhao Huang)</p>
              <p>Modeling and Simulation for Optical Driven Micro-Propeller Shaped Rotor</p>
            </li>
          </ul>
        </div>
        <div class="section-block">
          <h4 class="section">Teaching, Supervision and Management experience:</h4>
          <ul>
            <li>2013-now, mentor for 20 undergraduate students in ShuRen College</li>
            <li>2013-now, EE202 (Digital Circuit), EE305(Introduction to VLSI Technology), EE306 (Introduction to MEMS)</li>
            <li>2013, teaching “33250 Semiconductor Technology” (5 ECTS) in DTU Nanotech and a Ph. D course “Sustainable wireless sensor networks” in Aalborg University. </li>
            <li>2013, UDTU course, level 4. </li>
            <li>2012, supervisor for two master students and one bachelor student. </li>
            <li>2012, supervisor for two bachelor students for 3-weeks course 33470: Micro-3W and Grøn Dyst. </li>
            <li>2012, UDTU course, level 2 &amp; 3. </li>
            <li>2011, supervisor for two bachelor students with their 34029 Fagprojekt (10 ECTS points). </li>
            <li>2011, supervisor for two bachelor students’ project (20 ECTS points). </li>
            <li>2011, project supervisor for two students in 3-weeks course 33470: Micro-3W. </li>
            <li>2010, UDTU course: level 1. </li>
            <li>2009, project supervisor for three students in the advanced course 33355: Micro-2</li>
            <li>2004-2008, co-founder and coordinator for MEMS saloon in SIMIT. </li>
          </ul>
        </div>
        <div class="section-block">
          <h4 class="section">Funding, Honors and Awards:</h4>
          <ul>
            <li>2016, PI, Guangdong Natural Science Funds for Distinguished Young Scholar, 1 Million RMB. (Project No.: 2016A030306042). (广东省自然科学基金杰出青年项目, “高效复合能量采集技术” , 广东省科学技术厅, 2016-06-01 至 2020-06-01)</li>
            <li>2016, Guangdong Special Support Program for High-level Talents. (“广东特支计划”科技青年拔尖人才, 广东省科学技术厅, 2016-07-01 至 2019-06-30, 2015TQ01X555)</li>
            <li>2015, co-PI, Shenzhen Fundamental Research Project, overall 3 Million RMB, with a share of 0.9 Million RMB. (Project No.: JCYJ20150827165024088). (深圳市知识创新计划基础研究项目，“基于微机电系统（MEMS）的多级震动耦合能量收集技术研究”，深圳市科技创新委员会，2016-01-01 至 2018-12-31)</li>
            <li>2015, co-PI, Shenzhen Fundamental Research Project, overall 3 Million RMB, with a share of 1 Million RMB. (Project No.: JCYJ20150930160634263). (深圳市知识创新计划基础研究项目，“重金属检测用高灵敏光电微纳传感器研究”，深圳市科技创新委员会，2016-01-01 至 2018-12-31)</li>
            <li>2015, co-PI, Shenzhen Peacock Group Plan, overall 20 Million RMB. (Project No.: KQTD2015071710313656) (深圳市海外高层次人才创新创业计划，“超宽频谱超强太赫兹波研发团队”，深圳市科技创新委员会，2016-12-01 至 2020-11-30)</li>
            <li>2015, PI, National Natural Science Foundation of China (NSFC): “Micro electrostatic energy harvester with broad bandwidth for wireless sensor networks”, 249,000 RMB (Project No.: 51505209) (国家自然科学基金, “应用于无线传感网络的宽带静电式微型能量采集器研究”, 国家自然科学基金委员会, 2016-01-01 至 2018-12-31)</li>
            <li>2015, PI, Guangdong Natural Science Foundation: “MEMS based electrostatic energy harvesting device”, 100,000 RMB (Project No.: 2015A030313812) (广东省自然科学基金, “基于微机电系统的静电式能量采集器”, 广东省科学技术厅, 2015-08-01 至 2018-08-01).</li>
            <li>2015, PI, Scientific Research Foundation for the Returned Overseas Chinese Scholars, State Education Ministry. 35, 000 RMB. (教育部留学回国人员科研启动基金资助项目, “应用于微型能量采集器的驻极体材料性能研究”, 教育部)</li>
            <li>2014, PI, Shenzhen Fundamental Research Project: “Key technologies of electret materials for wireless sensor networks”, 290,000 RMB (Project No.: JCYJ20140417105742703). (深圳市知识创新计划基础研究项目，“应用于无线传感网络的驻极体材料关键技术研究”，深圳市科技创新委员会，2014-08-18 至 2016-08-31，已顺利结题)</li>
            <li>2014, co-PI, Shenzhen key laboratory: “Shenzhen Key Laboratory of 3rd Generation Semiconductor Devices”, overall 3 Million RMB, with a share of 0.6 Million RMB. (Project No.: ZDSYS20140509142721434) (深圳市创新环境建设计划重点实验室项目，“深圳市第三代半导体器件重点实验室”，深圳市科技创新委员会，2014-08-18 至 2016-08-31，已顺利结题)</li>
            <li>2014, PI, start-up research grant for new faculty in SUSTC, 5.98 Million RMB. (南方科技大学引进学术人才科研启动经费, “面向无线传感网络应用的能源采集器研究”, 2014-01-01 至 2018-12-31)</li>
            <li>2013, Shenzhen “Overseas High-Caliber Personnel Award” (Peacock Plan, B-Class). (深圳市海外高层次人才“孔雀计划”B类人才)</li>
            <li>2013, Conference stipend, Otto Mønsted Fond, Hellerup, Denmark, 8,000 DKK.</li>
            <li>2012, Conference stipend, Otto Mønsted Fond, Hellerup, Denmark, 5,000 DKK.</li>
            <li>2011, Conference stipend, Otto Mønsted Fond, Hellerup, Denmark, 7,990 DKK.</li>
            <li>2010, Co-Applicant with Dr. Ming Shen as PI, Project funding: "Microwatt Radio for Self-Sustaining Wireless Sensor Networks". Danish Research Council for Technology and Production (FTP), Denmark. (Project No. 10-093783)</li>
            <li>2010, PI, Project funding: "Energy harvesting device with polymer electret for wireless electronic devices". Danish Research Council for Technology and Production (FTP), Denmark, 3,866,400 DKK. (Project No. 10-080864)</li>
            <li>2009, Conference stipend, Otto Mønsted Fond, Hellerup, Denmark, 6,945 DKK.</li>
            <li>2008, CAS Zhu Li Yuehua Scholarship of Outstanding Doctoral Award (Top 240 out of 4,488 Ph.D. students graduated from CAS in 2008), 5,000 RMB. (中国科学院“朱李月华”优秀博士生奖)</li>
            <li>2008, SIMIT Presidential Scholarship, Grade 2. (中国科学院上海微系统与信息技术研究所，所长奖学金)</li>
            <li>2007, Best Student Paper (1st of 450 papers) in 9th Annual Domestic Conference of China Society of Micro-Nano Technology, Shanghai, 2,000 RMB. (第九届中国微米纳米技术学会国内年会一等奖)</li>
            <li>2005-2006, 2006-2007, CAS “Straight A Student” (twice). (中国科学院三好学生)</li>
            <li>1999-2002, USTC Outstanding Student Scholarship, Golden Scholarship (twice as Rank 2 among 89 students), Silver Scholarship (once as Rank 4 among 89 students), totally 5,000 RMB. (中国科学技术大学优秀学生奖学金)</li>
          </ul>
        </div>
        <div class="section-block">
          <h4 class="section">Affiliation and Scientific service:</h4>
          <ul>
            <li>Institute of Electrical and Electronics Engineers (IEEE), Senior Member (2012-)</li>
            <li>Plenary Chair for 2014 IEEE International Conference on Consumer Electronics − China.</li>
            <li>International Organizing Committee for International Conference on Small Science (ICSS, 2014-2016)</li>
            <li>Session Chair, for IEEE NEMS 2015 conference</li>
            <li>Session Chair, and Program Committee Member for International Conference on Manipulation, Manu­facturing and Measurement on the Nanoscale (3M-NANO, 2014-2016)</li>
            <li>Technical Program Committee Member for the 6th International Multidisciplinary Conference on optofluidics (Optofluidics 2016)</li>
            <li>Technical Program Committee Member for the 19th International Conference on Solid-State Sensors, Actuators and Microsystems (Transducers 2017)</li>
          </ul>
        </div>
        <div class="section-block">
          <h4 class="section">Reviewer for:</h4>
          <ul>
            <li>Applied Physics Letters</li>
            <li>ECS Solid State Letters</li>
            <li>IEEE Electron Device Letters</li>
            <li>IEEE Potentials</li>
            <li>IET Nanobiotechnology</li>
            <li>Journal of Micromechanics and Microengineering</li>
            <li>Measurement Science and Technology</li>
            <li>Microelectronics Engineering</li>
            <li>Microsystem Technologies</li>
            <li>Optics Letters</li>
            <li>Sensors</li>
            <li>Sensors &amp; Actuators: A. Physical</li>
            <li>Smart Materials and Structures</li>
            <li>The Scientific World Journal</li>
          </ul>
        </div>

      </div>
      <!-- <i class="line"></i> -->
      <!---->
  </div>
</div>
<!---->
<%- include("common/footer"); %>
