<%- include("common/header", { title: 'Courses', activeTab: 'courses' }) %>
    <div class="container">
      <div class="content">
          <div class="content-top">
              <h2>COURSES</h2>
              <i class="line"></i>
          </div>
          <div class="top-on">
              <ul class="media-list">
                <!-- <li>courses list here</li> -->
                <li>EE202 (Digital Circuit)</li>
                <li>EE305 (Introduction to VLSI Technology)</li>
                <li>EE306 (Introduction to MEMS)</li>
                <li><a target="_blank" href="http://mooc1.chaoxing.com/course/95490438.html" title="Principle Of Integrated Circuit Technology">Principle Of Integrated Circuit Technology</a></li>
              </ul>
          </div>
          <!-- <i class="line"></i> -->
          <!---->
      </div>
    </div>
    <!---->
<%- include("common/footer"); %>
