<%- include("common/header", { title: 'Home', activeTab: 'home' }) %>
<div class="container">
  <div class="banner">
      <div class="banner-matter">
          <i class="line"></i>
          <h1 style="padding-top:0.7em">Photo Gallery</h1>
          <i class="line"></i>
      </div>
      <div class="banner-top">
        <div class="wmuSlider example1">
            <div class="wmuSliderWrapper">
                <article style="position: absolute; width: 100%; opacity: 0;">
                    <div class="banner-bottom">
                        <a target="_blank" href="http://sustc.edu.cn/news_events_1_7/2848">
                            <img class="img-responsive line-in" src="images/slide/feiwang-awards.jpg" alt="Awards" />
                        </a>
                        <div class="dummy-text">
                            <div class="doe">
                                <h6>Awards</h6>
                                <p>Prof. Fei Wang won Distinguished Teaching Award.</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </article>
                <article style="position: absolute; width: 100%; opacity: 0;">
                    <div class="banner-bottom">
                        <a href="javascript:void(0)">
                            <img class="img-responsive line-in" src="images/slide/group-photo.jpg" alt="Group Photo" />
                        </a>
                        <div class="dummy-text">
                            <div class="doe">
                                <h6>Group Photo</h6>
                                <!-- <span>By <b>Zhuoteng Peng</b></span> -->
                                <p>Our group members.</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </article>
                <article style="position: absolute; width: 100%; opacity: 0;">
                    <div class="banner-bottom">
                        <a href="javascript:void(0)">
                            <img class="img-responsive line-in" src="images/slide/teaching_waifu2x.png" alt="Teaching" />
                        </a>
                        <div class="dummy-text">
                            <div class="doe">
                                <h6>Teaching</h6>
                                <p>Prof. Fei Wang is teaching.</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </article>
            </div>

        </div>
        <script src="js/jquery.wmuSlider.js"></script>
        <script>
            $('.example1').wmuSlider({
                pagination: false,
            });
        </script>
      </div>
      <!-- <i class="line"></i> -->
      <!---->
  </div>
</div>
<!---->
<div class="container">
    <div class="content">
        <div class="content-top">
            <h2 style="padding-top:0.7em">NEWS</h2>
            <i class="line"></i>
        </div>
        <!--manage-->
        <div class="top-on" style="padding-top: 2em">
          <ul class="media-list">
              <li><a target="_blank" href="http://www.transducers2017.org/general/committees.html">Sept. 21, 2016, Prof. Fei Wang is selected to the Technical Program Committee of the Transducers 17 conference!</a></li>
              <li>Dec. 22, 2016，Dr. Changhui Zhao and Yushen's abstracts are accepted as oral presentation in IEEE NEMS 2017! Congratulations!</li>
              <li><a target="_blank" href="http://sustc.edu.cn/news_events_1_7/2848">Prof. Wang won Distinguished Teaching Award.</a></li>
              <li><a target="_blank" href="http://www.sustc.edu.cn/ee_01/2383">Three undergraduates published papers in IEEE-NEMS 2016</a></li>
              <li><a target="_blank" href="http://www.sustc.edu.cn/ee_01/2246">Prof. Wang was selected to "Guangdong Special Support Project"</a></li>
              <li><a target="_blank" href="http://www.sustc.edu.cn/ee_01/2215">Prof. Wang won the Guangdong Natural Science Funds for Distinguished Young Scholar</a></li>
              <li><a target="_blank" href="http://www.sustc.edu.cn/news_events_1_2/1799">Two undergraduates published papers in IEEE-NEMS 2015</a></li>
              <li><a target="_blank" href="http://www.sustc.edu.cn/ee_01/948">SUSTech student team won the overall champion in "Be Innovative - An electronic engineering and design challenge"</a></li>
          </ul>
        </div>
    </div>
</div>
<!---->
<%- include("common/footer"); %>
