<%- include("common/header", { title: 'Media', activeTab: 'media' }) %>
<!---->
<div class="container">
    <div class="content">
        <div class="content-top">
            <h2>MEDIA</h2>
            <i class="line"></i>
        </div>
        <div class="top-on">
            <ul class="media-list">
              <li><a target="_blank" href="http://v.youku.com/v_show/id_XMTg4NjM1NzkyOA==.html">Speech on 2016 graduation ceremony at Southern University of Science and Technology</a></li>
              <li><a target="_blank" href="http://sustc.edu.cn/news_events_1_7/2848">Prof. Wang won Distinguished Teaching Award.</a></li>
              <li><a target="_blank" href="http://www.sustc.edu.cn/ee_01/2383">Three undergraduates published papers in IEEE-NEMS 2016</a></li>
              <li><a target="_blank" href="http://www.sustc.edu.cn/ee_01/2246">Prof. Wang was selected to "Guangdong Special Support Project"</a></li>
              <li><a target="_blank" href="http://www.sustc.edu.cn/ee_01/2215">Prof. Wang won the Guangdong Natural Science Funds for Distinguished Young Scholar</a></li>
              <li><a target="_blank" href="http://www.sustc.edu.cn/news_events_1_2/1799">Two undergraduates published papers in IEEE-NEMS 2015</a></li>
              <li><a target="_blank" href="http://www.sustc.edu.cn/ee_01/948">SUSTech student team won the overall champion in "Be Innovative - An electronic engineering and design challenge"</a></li>
            </ul>
        </div>
        <!-- <i class="line"></i> -->
        <!---->
    </div>
</div>
<!---->
<%- include("common/footer"); %>
