<%- include("common/header", { title: 'Members', activeTab: 'members' }) %>
    <!---->
    <div class="container">
        <div class="content">
            <div class="content-top">
                <h2>MEMBERS</h2>
                <i class="line"></i>
            </div>
            <!-- <p class="you">comments here.</p> -->
            <div class="top-on member-list">
                <h4 class="section">Group Leader</h4>
                <div class="content-bottom">
                    <div class="col-md-6 top-pic">
                        <div class="col-md-3 bottom-pic">
                            <a href="about.html"><img class="img-responsive" src="images/photo/wangfei.jpg" alt="Fei Wang" /></a>
                        </div>
                        <div class="col-md-8 bottom-doe">
                            <h6><a href="about.html">Fei Wang</a></h6>
                            <p>Group Leader</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <h4 class="section">Staff Member</h4>
                <div class="content-bottom">
                  <div class="col-md-6 top-pic">
                      <div class="col-md-3 bottom-pic">
                          <img class="img-responsive" src="images/photo/ram.jpg" alt="R. Ramachandran" />
                      </div>
                      <div class="col-md-8 bottom-doe">
                          <h6>R. Ramachandran</h6>
                          <p>Dr. Ramachandran rajendran received B.Sc in physics and M.Sc in Nanoscience and Nanotechnology degrees from Bharathiyar university, Coimbatore, India. His research interests include graphene based nanocomposites for supercapacitors,electrochemical sensors,nano fluids for engine coolant applications and energy harvesting materials.</p>
                      </div>
                      <div class="clearfix"></div>
                  </div>
                  <div class="col-md-6 top-pic">
                      <div class="col-md-3 bottom-pic">
                          <img class="img-responsive" src="images/photo/zhaochanghui.jpg" alt="Changhui Zhao" />
                      </div>
                      <div class="col-md-8 bottom-doe">
                          <h6>Changhui Zhao</h6>
                          <p>Changhui Zhao received his B.S. and PhD degrees from the School of Physical Science and Technology, Lanzhou University, in 2011 and 2016, respectively. Since 2016, he joined in the Department of Electrical and Electronic Engineering, Southern University of Science and Technology as a post-doctor. He is interested in the field of low-dimensional nanomaterials for low power micro-gas sensors.</p>
                      </div>
                      <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="content-bottom">
                  <div class="col-md-6 top-pic">
                      <div class="col-md-3 bottom-pic">
                          <img class="img-responsive" src="images/photo/yangzhen.jpg" alt="Zhen Yang" />
                      </div>
                      <div class="col-md-8 bottom-doe">
                          <h6>Zhen Yang</h6>
                          <p>Dr. Zhen Yang received PhD of electronic science and technology from Shanghai Jiao Tong University in 2016. His research interests involve MEMES technique, thin film fabrication, Co-based and Fe-based ribbons, GMI biosensor, micro-inductor, fluxgate biosensor and related applications for the detection of beads, bacteria and biomarkers.</p>
                      </div>
                      <div class="clearfix"></div>
                  </div>
                  <div class="col-md-6 top-pic">
                      <div class="col-md-3 bottom-pic">
                          <img class="img-responsive" src="images/photo/EIervolino.jpg" alt="Elina Iervolino" />
                      </div>
                      <div class="col-md-8 bottom-doe">
                          <h6>Elina Iervolino</h6>
                          <p>Elina Iervolino received the B.S. and M.S. degrees (cum laude) in electronics engineering from the University of Naples Federico II, Italy, in 2004 and 2007 respectively. In 2012 she was awarded with the doctoral degree in the Microsystems/MEMS Technology group of the Technical university of Delft, The Netherlands. Since January 2017 she works at SUSTC as assistant research professor. Her research interests include GaN-based sensor systems for operation in hostile environment.</p>
                      </div>
                      <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <h4 class="section">Graduate</h4>
                <div class="content-bottom">
                  <div class="col-md-6 top-pic">
                      <div class="col-md-3 bottom-pic">
                          <img class="img-responsive" src="images/photo/xuhua.jpg" alt="Hua Xu" />
                      </div>
                      <div class="col-md-8 bottom-doe">
                          <h6>Hua Xu</h6>
                          <p>Fabrication of isolated thin film Silicon on Nothing (SON) formed by Silicon Migration Technique (SiMiT).</p>
                      </div>
                      <div class="clearfix"></div>
                  </div>
                  <div class="col-md-6 top-pic">
                      <div class="col-md-3 bottom-pic">
                          <img class="img-responsive" src="images/photo/donghanning.jpg" alt="Hanning Dong" />
                      </div>
                      <div class="col-md-8 bottom-doe">
                          <h6>Hanning Dong</h6>
                          <p>A PG student from SUSTech who enjoy seasons in the sun.</p>
                      </div>
                      <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="content-bottom">
                  <div class="col-md-6 top-pic">
                      <div class="col-md-3 bottom-pic">
                          <img class="img-responsive" src="images/photo/yangjingchi.jpg" alt="Jingchi Yang" />
                      </div>
                      <div class="col-md-8 bottom-doe">
                          <h6>Jingchi Yang</h6>
                          <p>Ph.D. candidate at Georgia Tech, visiting scholar at SUSTC. Currently working on energy harvester application.</p>
                      </div>
                      <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <h4 class="section">Undergraduate</h4>
                <div class="content-bottom">
                  <div class="col-md-6 top-pic">
                      <div class="col-md-3 bottom-pic">
                          <img class="img-responsive" src="images/photo/luoanxin.jpg" alt="Anxin Luo" />
                      </div>
                      <div class="col-md-8 bottom-doe">
                          <h6>Anxin Luo</h6>
                          <p>An UG student from SUSTech. My major work in our group is the research about electret and its applications in MEMS.</p>
                      </div>
                      <div class="clearfix"></div>
                  </div>
                  <div class="col-md-6 top-pic">
                      <div class="col-md-3 bottom-pic">
                          <img class="img-responsive" src="images/photo/xuyixin.jpg" alt="Yixin Xu" />
                      </div>
                      <div class="col-md-8 bottom-doe">
                          <h6>Yixin Xu</h6>
                          <p>Yixin Xu is a senior undergraduate student at South University of Science and Technology of China pursuing a Bachelor degree in Microelectrical Engineering. She joined Professor Wang's Group in December of 2014 and is currently working on investigating the coating method for electret deposition and the charge stability of electret in different environment.</p>
                      </div>
                      <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="content-bottom">
                    <div class="col-md-6 top-pic">
                        <div class="col-md-3 bottom-pic">
                            <img class="img-responsive" src="images/photo/chenxingwei.jpg" alt="Xingwei Chen" />
                        </div>
                        <div class="col-md-8 bottom-doe">
                            <h6>Xingwei Chen</h6>
                            <p>A senior student is major in microelectronics science and technology. Do some work about energy harvesting system and microfluidics.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-6 top-pic">
                        <div class="col-md-3 bottom-pic">
                            <img class="img-responsive" src="images/photo/wangtianyang.jpg" alt="Tianyang Wang" />
                        </div>
                        <div class="col-md-8 bottom-doe">
                            <h6>Tianyang Wang</h6>
                            <p>An undergraduate from the IEEE department of SUSTech. My major work in Professor Wang’s group is the performance test of energy haversters.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="content-bottom">
                  <div class="col-md-6 top-pic">
                      <div class="col-md-3 bottom-pic">
                          <img class="img-responsive" src="images/photo/huyushen.jpg" alt="Yushen Hu" />
                      </div>
                      <div class="col-md-8 bottom-doe">
                          <h6>Yushen Hu</h6>
                          <p>A junior student, English name is Nigel. My work is circuit designing and testing.</p>
                      </div>
                      <div class="clearfix"></div>
                  </div>
                  <div class="col-md-6 top-pic">
                      <div class="col-md-3 bottom-pic">
                          <a href="single.html"><img class="img-responsive" src="images/photo/lanweizong.jpg" alt="Weizong Lan" /></a>
                      </div>
                      <div class="col-md-8 bottom-doe">
                          <h6>Weizong Lan</h6>
                          <p>My Conquest is the Sea of Stars.</p>
                      </div>
                      <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="content-bottom">
                  <div class="col-md-6 top-pic">
                      <div class="col-md-3 bottom-pic">
                          <img class="img-responsive" src="images/photo/chensiyan.jpg" alt="Siyan Chen" />
                      </div>
                      <div class="col-md-8 bottom-doe">
                          <h6>Siyan Chen</h6>
                          <p>Simple stupid stubborn student in junior, who is interested in MEMS and NEMS.</p>
                      </div>
                      <div class="clearfix"></div>
                  </div>
                  <div class="col-md-6 top-pic">
                      <div class="col-md-3 bottom-pic">
                          <a href="single.html"><img class="img-responsive" src="images/photo/liweinan.jpg" alt="Weinan Li" /></a>
                      </div>
                      <div class="col-md-8 bottom-doe">
                          <h6>Weinan Li</h6>
                          <p>Not only science &amp; technology, I'm also fanatic about traveling and music.</p>
                      </div>
                      <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <div class="content-bottom">
                  <div class="col-md-6 top-pic">
                      <div class="col-md-3 bottom-pic">
                          <img class="img-responsive" src="images/photo/huangziyu.jpg" alt="Ziyu Huang" />
                      </div>
                      <div class="col-md-8 bottom-doe">
                          <h6>Ziyu Huang</h6>
                          <p>A junior in Wang's group and doing research in triboelectric nanogenerator.</p>
                      </div>
                      <div class="clearfix"></div>
                  </div>
                  <div class="clearfix"></div>
                </div>
                <h4 class="section">Technician</h4>
                <div class="content-bottom">
                    <div class="col-md-6 top-pic">
                        <div class="col-md-3 bottom-pic">
                            <img class="img-responsive" src="images/photo/zhangyulong.jpg" alt="Yulong Zhang" />
                        </div>
                        <div class="col-md-8 bottom-doe">
                            <h6>Yulong Zhang</h6>
                            <p>Major in physical electronics in master's study, and research the field emission properties of GaN nanowires. Now in SUSTC the research direction is the electrostatic vibration energy harvester.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-6 top-pic">
                        <div class="col-md-3 bottom-pic">
                            <img class="img-responsive" src="images/photo/lengxiaohui.jpg" alt="Xiaohui Leng" />
                        </div>
                        <div class="col-md-8 bottom-doe">
                            <h6>Xiaohui Leng</h6>
                            <p>To be special, to be myself.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="content-bottom">
                    <div class="col-md-6 top-pic">
                        <div class="col-md-3 bottom-pic">
                            <img class="img-responsive" src="images/photo/wuyingchun.jpg" alt="Yingchun Wu" />
                        </div>
                        <div class="col-md-8 bottom-doe">
                            <h6>Yingchun Wu</h6>
                            <p>I always do that, get into something and see how far I can go.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="col-md-6 top-pic">
                        <div class="col-md-3 bottom-pic">
                            <img class="img-responsive" src="images/photo/pengzhuoteng.jpg" alt="Zhuoteng Peng" />
                        </div>
                        <div class="col-md-8 bottom-doe">
                            <h6>Zhuoteng Peng</h6>
                            <p>Graduated from Southern University of Science and Technology. Simple and fast.</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
            <!-- <i class="line"></i> -->
            <!---->
        </div>
    </div>
    <!---->
<%- include("common/footer"); %>
