<%- include("common/header", { title: 'Projects', activeTab: 'projects' }) %>
<link href="css/labcentre.css" rel="stylesheet" type="text/css" />
<!---->
<div class="container">
  <div class="content">
      <div class="content-top">
          <h2>LABCENTRE<span id="site-status" class="btn btn-small btn-red">OFFLINE</span></h2>
          <i class="line"></i>
      </div>
      <div class="top-on">
        <div id="system-architecture">
          <img alt="diagram of system architecture" title="The diagram of system architecture." src="./images/research/diagram-of-system-architecture.png" />
        </div>
        <div id="chart-temperature">
          <div class="col-x plr15">
            <div class="board">
              <div class="info">
                <span class="small-title">SENSOR1</span>
                <h2 class="data">
                  <span class="value">...</span> °C
                </h2>
                <hr class="board-line" />
              </div>
              <canvas id="sparkline1" width="378" height="94" class="sparkline" data-chart="spark-line" data-value="[{data:[]}]" data-labels="[]"></canvas>
            </div>
          </div>
          <div class="col-x plr15">
            <div class="board">
              <div class="info">
                <span class="small-title">SENSOR2</span>
                <h2 class="data">
                  <span class="value">...</span> °C
                </h2>
                <hr class="board-line" />
              </div>
              <canvas id="sparkline2" width="378" height="94" class="sparkline" data-chart="spark-line" data-value="[{data:[]}]" data-labels="[]"></canvas>
            </div>
          </div>
          <div class="col-x plr15 float-right block-quote">
            This temperature information is coming from an event-driven wireless sensor node, which is working in FeiWang's Lab.
            It can be powered by air-flow driven nanogenerators.
            The temperature signal is wireless transmitted to a Raspberry Pi and delivered to the internet successfully.
          </div>
          <div class="clearfix"></div>
        </div>
        <div id="table-log">
          <h4 class="table-row table-title">Logs<span class="no-data">(No incoming data)</span></h4>
        </div>
      </div>
</div>
<div class="container">
  <div class="content">
      <div class="content-top">
          <h2>PROJECTS</h2>
          <i class="line"></i>
      </div>
      <div class="top-on">
          <ul class="media-list" style="list-style: decimal">
              <li>2016, PI, Guangdong Natural Science Funds for Distinguished Young Scholar. (Project No.: 2016A030306042). (广东省自然科学基金杰出青年项目, “高效复合能量采集技术” , 广东省科学技术厅, 2016-06-01至2020-06-01).</li>
              <li>2016, Guangdong Special Support Program for High-level Talents. (“广东特支计划”科技青年拔尖人才, 广东省科学技术厅, 2016-07-01至2019-06-30, 2015TQ01X555)</li>
              <li>2015, co-PI, Shenzhen Fundamental Research Project. (Project No.: JCYJ20150827165024088). (深圳市知识创新计划基础研究项目，“基于微机电系统（MEMS）的多级震动耦合能量收集技术研究”，深圳市科技创新委员会，2016-01-01至2018-12-31)</li>
              <li>2015, co-PI, Shenzhen Fundamental Research Project. (Project No.: JCYJ20150930160634263). (深圳市知识创新计划基础研究项目，“重金属检测用高灵敏光电微纳传感器研究”，深圳市科技创新委员会，2016-01-01至2018-12-31)</li>
              <li>2015, co-PI, Shenzhen Peacock Group Plan. (Project No.: KQTD2015071710313656) (深圳市海外高层次人才创新创业计划，“超宽频谱超强太赫兹波研发团队”，深圳市科技创新委员会，2016-12-01至2020-11-30)</li>
              <li>2015, PI, National Natural Science Foundation of China (NSFC): “Micro electrostatic energy harvester with broad bandwidth for wireless sensor networks” (Project No.: 51505209) (国家自然科学基金, “应用于无线传感网络的宽带静电式微型能量采集器研究”, 国家自然科学基金委员会, 2016-01-01 至 2018-12-31)</li>
              <li>2015, PI, Guangdong Natural Science Foundation: “MEMS based electrostatic energy harvesting device” (Project No.: 2015A030313812) (广东省自然科学基金, “基于微机电系统的静电式能量采集器”, 广东省科学技术厅, 2015-08-01 至 2018-08-01).</li>
              <li>2015, PI, Scientific Research Foundation for the Returned Overseas Chinese Scholars, State Education Ministry. (教育部留学回国人员科研启动基金资助项目, “应用于微型能量采集器的驻极体材料性能研究”, 教育部)</li>
              <li>2014, PI, Shenzhen Fundamental Research Project: “Key technologies of electret materials for wireless sensor networks” (Project No.: JCYJ20140417105742703). (深圳市知识创新计划基础研究项目，“应用于无线传感网络的驻极体材料关键技术研究”，深圳市科技创新委员会，2014-08-18至2016-08-31，已顺利结题)</li>
              <li>2014, co-PI, Shenzhen key laboratory: “Shenzhen Key Laboratory of 3rd Generation Semiconductor Devices”. (Project No.: ZDSYS20140509142721434) (深圳市创新环境建设计划重点实验室项目，“深圳市第三代半导体器件重点实验室”，深圳市科技创新委员会，2014-08-18至2016-08-31，已顺利结题)</li>
              <li>2014, PI, start-up research grant for new faculty in SUSTech. (南方科技大学引进学术人才科研启动经费, “面向无线传感网络应用的能源采集器研究”, 2014-01-01至2018-12-31)</li>
              <li>2010, Co-Applicant with Dr. Ming Shen as PI, Project funding: "Microwatt Radio for Self-Sustaining Wireless Sensor Networks". Danish Research Council for Technology and Production (FTP), Denmark. (Project No. 10-093783)</li>
              <li>2010, PI, Project funding: "Energy harvesting device with polymer electret for wireless electronic devices". Danish Research Council for Technology and Production (FTP), Denmark, 3,866,400 DKK. (Project No. 10-080864)</li>
          </ul>
      </div>
      <!-- <i class="line"></i> -->
      <!---->
  </div>
</div>
<!---->
<script src="js/socket.io.min.js"></script>
<script src="js/chart.js"></script>
<script src="js/lab.js?v=20161222"></script>
<%- include("common/footer"); %>
