<%- include("common/header", { title: 'Research', activeTab: 'research' }) %>
    <!---->
    <div class="container">
      <div class="content">
          <div class="content-top">
              <h2>RESEARCH</h2>
              <i class="line"></i>
          </div>
          <div class="top-on">
          </div>
      </div>
    </div>
    <!---->
<%- include("common/footer"); %>
